<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <title>The Tech Blogs</title>
</head>

<body>

    <nav class='blue-grey darken-4'>
        <div class=' nav-wrapper'>
            <ul>
                {{!-- loggedIn variable is passed up to main from the single-post template --}}
                {{#if loggedIn}}
                <li><button id='logout' class='btn-no-style'>Logout</button></li>
                {{else}}
                <li><a href='/login'>Login</a></li>
                {{/if}}
            </ul>
            <header>
                <h1>
                    <a class='blue-grey-text text-darken-4' href='/'>The Tech Blogs</a>
                </h1>
            </header>
        </div>
    </nav>
    <main class='container'>
        {{{ body }}}
    </main>


    {{!-- trigger js logout logic --}}
    {{#if loggedIn}}
    <script src='/javascript/logout.js'></script>
    {{/if}}
</body>

</html>