<div class='container'>
    <a href='/dashboard' class='center'> &larr; Back to Dashboard</a>
    {{!-- <span class='flow-text dashboard'>Edit Post</span> --}}
    <div class='container'>
        <div class='card'>
            <div class='card-title dark-blue'>
                <span>Edit Post</span>
            </div>
            <div class='card-content'>


                <form class='edit-post-form'>
                    <div>
                        <label for='post-title'>Title</label>
                        <input name='post-title' type='text' value='{{post.title}}' />
                    </div>
                    <div>
                        <label for='post-content'>Content</label>
                        <textarea name='post-content'>{{post.content}}</textarea>
                    </div>
                    <div class='center'>
                        <button type='submit' class='btn med-green edit-post-btn'>Update Post</button>
                        <button type='button' id='delete-post-btn' class='btn red accent-3'>Delete Post</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

{{!-- hooking up front-end logic to enable edits to posts --}}
<script src='/javascript/edit-post.js'></script>
<script src="/javascript/delete-post.js"></script>