:root {
  --primary: #f7f5e6;
  --secondary: #e8e8e8;
  --med-green: #62825e;
  --dark-green: #52658f;
  --dark-blue: #333a56;
  /* --dark-blue: #07214b; */
  --dark: #0f0606;
  --border-radius: 0.5rem;
}
* {
  box-sizing: border-box;
}

body,
html {
  background-color: var(--primary);
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--dark);
  line-height: 1.5;
  font-size: 16px;
}
.btn {
  border-radius: var(--border-radius);
}
.card {
  border-radius: var(--border-radius);
  padding-bottom: 5%;
}
.card-action a {
  color: var(--dark) !important;
}

.card-panel {
  border-radius: var(--border-radius);
  padding: 0.1rem;
}
.card .card-title {
  border-bottom: var(--med-green) 5px solid;
  color: var(--secondary);
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}
.card-title h2 {
  font-size: 2rem;
  padding: 0.5rem;
}
.card .new-blog {
  /* border-bottom: var(--dark-blue) 5px solid;
  color: var(--dark-blue);
  background-color: var(--secondary); */
  font-weight: 900;
  padding-top: 0.1rem;
}
/* .card-title.new-blog > span {
  color: var(--dark-green) !important;
} */
.card.add-comment {
  padding: 0.1rem;
}

.dashboard {
  font-weight: 800;
  color: var(--dark-blue);
  font-size: 2rem;
}
.edit-post {
  margin-top: 0;
  padding-left: 1.2rem;
}
a {
  text-decoration: none;
  color: var(--tertiary);
  font-weight: bold;
  transition: color 0.1s;
}

a:hover,
button:hover {
  color: var(--med-green) !important;
}

.user {
  font-weight: 800;
}

.med-green {
  background-color: var(--dark-green) !important;
}
.dark-blue {
  background-color: var(--dark-blue) !important;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid var(--med-green);
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

nav {
  min-height: 90px;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin: 0.5rem;
  color: var(--primary);
}

.btn-no-style:hover {
  color: var(--med-green);
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}
#blog-logo {
  background-color: var(--primary);
  padding: 0 0.5rem;
  border-radius: var(--border-radius);
  box-shadow: 5px 6px var(--med-green);
  margin: 0.6rem;
  color: var(--dark-green);
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: var(--dark);
}

.card .card-title span {
  color: var(--primary);
  font-weight: 500;
  padding-left: 1rem;
}

.comment-form {
  margin-bottom: 5%;
}

.comments {
  margin: 1% 6%;
}
.comments p {
  padding-left: 3%;
}
