:root {
  --primary: #ccdad1;
  --secondary: #9caea9;
  --tertiary: #788585;
  --light-dark: #6f6866;
  --dark: rgb(38, 50, 56);
  --border-radius: 0.5rem;
}

* {
  box-sizing: border-box;
}

body,
html {
  background-color: var(--primary);
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--dark);
  line-height: 1.5;
  font-size: 16px;
}

.card-action a {
  color: var(--dark) !important;
}

.card-panel {
  background-color: rgb(204 218 209 / 0.5);
}

a {
  text-decoration: none;
  color: var(--tertiary);
  font-weight: bold;
  transition: color 0.1s;
}

a:hover {
  color: rgb(102, 72, 114) !important;
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: green;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea,
input {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid #4e8dda;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.links {
  display: flex;
  justify-content: space-between;
}
/* header {
  border-bottom: 1px solid rgb(155, 154, 154);
  display: inline-block;
  padding: 2% 1%;
} */

header h1 {
  font-size: 1em;
}
nav {
  /* display: flex;
  justify-content: space-around; */
  min-height: 85px;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  /* padding: 0; */
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  /* margin: 0.5rem; */
}

.btn-no-style:hover {
  background: none;
  color: #448be0;
}

.delete-post-btn {
  background-color: #c01515;
}

.delete-post-btn:hover {
  background-color: #e2461f;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}
#nav-mobile {
  font-size: 2rem;
  font-weight: 700;
  background-color: var(--primary);
  color: var(--dark);
  padding: 0 10px;
  /* display: inline-block; */
  border-radius: var(--border-radius);
  box-shadow: 6px 5px var(--light-dark);
  margin: 0.5rem;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: var(--dark);
}

.card span {
  color: var(--primary);
  font-weight: 500;
  padding-left: 1rem;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}
